<div class="bg-3">
    <div class="caption-3">
        {{#each article}}
        <h5>{{this.title}}</h5>
        {{/each}}
        <h6>Comments</h6>
    </div>
</div>

<!--Navigation Buttons-->
<div class="navigation">
    <div class="btnDiv">
        <button class="navbtn btn waves-effect waves-light" id="home"><a href="/">Home</a></button>
        <button class="navbtn btn waves-effect waves-light" id="saved-articles"><a href="/saved-articles">Saved
                Articles</a></button>
    </div>
</div>

<!-- This section displays the articles -->
<div class="container">
    <section id="article-section">
        <!-- Each article is populated in an "article" tag -->
        {{#each article}}
        <article data-id='{{this._id}}'>

            <h3 class="title">{{this.title}}</h3>
            <h5 class="teaser"><a href="{{this.link}}">{{this.teaser}}</a></h5>

            <!-- Comments on the article display here with a button to delete the comment -->
            <div class="articleCommentsDiv">
                <h4 id="comments-label">Comments</h4>
                {{#each comments}}
                <div class="commentDiv">
                    <h5 class="comment-title">{{this.title}}</h5>
                    <h6 class="comment-body">{{this.body}}</h6>
                    <div class="btn" data-id='{{this._id}}' id="deletecomment">Delete Comment</div>
                </div>
                {{/each}}
            </div>

            <!-- Add-comment section (with title and body), link it to the article and shows in the comments section upon submit -->
            <div class="addCommentDiv">
                <h4>Add Comment</h4>
                <input id="titleinput" placeholder="Title" name="title" />
                <textarea id="bodyinput" placeholder="Body" name="body"></textarea>
                <div class="btn" data-id='{{this._id}}' id="savecomment">Save Comment</div>
            </div>

        </article>
        {{/each}}
    </section>
</div>

<script>

    // When User clicks the "save comment" button
    $(document).on("click", "#savecomment", function () {
        // Grab the article id
        var thisId = $(this).attr("data-id");

        // Send a POST request to update the article with our comment
        $.ajax({
            method: "POST",
            url: "/api/articles/" + thisId,
            data: {
                title: $("#titleinput").val(),
                body: $("#bodyinput").val()
            }
        }).then(function (data) {
            console.log(data);
            $("#notes").empty();
            // reload the page to show the new comment in the comments-section
            location.reload();
        });

    });

    // When User clicks the "delete comment" button
    $(document).on("click", "#deletecomment", function () {
        // Grab the comment id
        var thisId = $(this).attr("data-id");

        // Make a POST request to remove the comment from the db
        $.ajax({
            method: "POST",
            url: "/api/articles/comment/" + thisId
        }).then(function (data) {
            console.log(data);
            // reload the page to show the comment is now gone
            location.reload();
        });
    });

</script>